* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(153, 153, 255, 0.7);
  overflow-y: hidden;
}

main {
  margin: 2rem;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  background-color: rgba(102, 102, 204, 0.7);
  border: 2px solid rgb(62, 62, 124);
  border-radius: 1rem;
  padding: 0rem 3rem 0rem 3rem;
  border-radius: 1rem;
}

#menu {
  display: flex;
  flex-direction: row;
}

#date {
  margin: 1rem 5rem 1rem 1rem;
}

#date p {
  font-size: 2rem;
}

#dateSelector {
  font-size: 2rem;
  background-color: rgb(188, 188, 255);
  border: 2px solid rgb(62, 62, 124);
  outline:none;
}

#dateSelector option {
  font-size: 2rem;
}

#typeSelector {
  margin: 1rem 1rem 1rem 5rem;
}

#typeSelector p {
  font-size: 2rem;
}

#typeSelector select {
  font-size: 2rem;
  outline:none;
  background-color: rgb(188, 188, 255);
  border: 2px solid rgb(62, 62, 124);
}

#typeSelector select option {
  font-size: 2rem;
}

#logs {
  border: 2px solid rgb(62, 62, 124);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

::-webkit-scrollbar {width: 1.5rem;height: 1.5rem;}
::-webkit-scrollbar-thumb:vertical {height:10px;background:rgb(62, 62, 124);}
::-webkit-scrollbar-thumb:vertical:hover {background:rgb(40, 40, 110);}

.table {
  display: flex;
  margin: 0.3rem;
  background-color: rgb(188, 188, 255);
  width: 100%;
}

.table div {
  border: 2px solid rgb(62 62 124);
  word-wrap:break-word;
}

.logType {
  box-sizing: border-box;
  font-size: 2rem;
  width: 5%;
  padding: 0.5rem;
}

.message {
  box-sizing: border-box;
  font-size: 2rem;
  width: 80%;
  padding: 0.5rem;
}

.logData {
  box-sizing: border-box;
  font-size: 2rem;
  width: 8%;
  padding: 0.5rem;
}

.logTime {
  box-sizing: border-box;
  font-size: 2rem;
  width: 7%;
  padding: 0.5rem;
}

.log_block_sql .logType{
  background-color: rgb(77, 74, 255);
}

.log_block_error .logType{
  background-color: rgb(255, 176, 50);
}

.log_block_fatal .logType{
  background-color: rgb(255, 50, 50);
}

.log_block_info .logType{
  background-color: rgb(47, 255, 110);
}